

// Default

$primaryCyanDefault:  hsl(180, 78%, 62%);
$secondarykGreenDefault:  hsl(69, 68%, 45%);
$orangeAlertDefault:  hsl(17, 100%, 73%);
$redErrorDefault:  hsl(344, 96%, 62%);
$purpleDarkDefault:  hsl(245, 66%, 64%);

// Default dark

$primaryCyanDarkDefault:  hsl(180, 48%, 47%);
$secondaryDarkDefault:  hsl(69, 68%, 34%);
$orangeDarkAlertDefault: hsl(17, 46%, 56%);
$redDarkErrorDefault:  hsl(344, 65%, 45%);
$purpleDarkErDefault:  hsl(245, 37%, 48%);

// Default  hover

$primaryCyanHoverDefault:hsl(180, 78%, 73%);
$secondaryHoverDefault:hsl(68, 55%, 61%);
$orangeHoverAlertDefault:hsl(16, 96%, 90%);
$redHoverErrorDefault:hsl(344, 96%, 72%);
$purpleHoverDefault:hsl(245, 66%, 75%);