

// Default

$primaryCyanDefault:  hsl(0, 0%, 28%);
$secondarykGreenDefault:  hsl(129, 41%, 36%);
$orangeAlertDefault:  hsl(51, 100%, 60%);
$redErrorDefault: hsl(0, 47%, 57%);
$purpleDarkDefault: hsl(194, 55%, 29%);

// Default dark

$primaryCyanDarkDefault:  hsl(0, 0%, 40%);
$secondaryDarkDefault:  hsl(129, 26%, 46%);
$orangeDarkAlertDefault: hsl(51, 100%, 67%);
$redDarkErrorDefault:  hsl(0, 48%, 64%);
$purpleDarkErDefault:  hsl(194, 32%, 40%);

// Default  hover

$primaryCyanHoverDefault: hsl(0, 0%, 20%);
$secondaryHoverDefault:  hsl(129, 56%, 29%);
$orangeHoverAlertDefault: hsl(51, 100%, 55%);
$redHoverErrorDefault: hsl(0, 48%, 52%);
$purpleHoverDefault: hsl(194, 85%, 21%);